.App {
    align-content: center;
    background-size: cover;
    text-align: center;
}
.App_table {
    border-collapse: collapse;
    width: 800px;
}
tr {
    border: 1px;
    border-color: darkgray;
    border-style: solid;
    height: 62.5px;
}
.App_button_view {
    background-color: lavender;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px #888888;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: Calibri;
    height: 36px;
    width: 60px;
}
.App_button_edit {
    background-color: blue;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px #888888;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: Calibri;
    height: 36px;
    width: 60px;
}
.App_button_delete {
    background-color: red;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px #888888;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: Calibri;
    height: 36px;
    width: 80px;
}